.current-position {
    color: var(--primary-color);
    font-weight: bold;
    margin: 15px 0 10px 115px;
}

.current-position a {
    color: var(--primary-color);
    font-weight: bold;
}

.current-position i {
    font-size: 1rem;
    margin-right: 5px;
    transform: translateY(-15%);
}

.product__name {
    margin: 5px 115px 0 115px;
}

.product__name .name {
    font-size: 2rem;
    font-weight: bold;
}

.product__rating {}

.point {
    font-size: 24px;
    font-weight: 700;
  }
  .point-left {
    font-size: 32px;
  }
  .point-right {
    opacity: 0.7;
  }
  
.productDetails {
    margin: 5px 115px 20px 115px;
}

.productDetail-left {
    flex: 1;
    margin-right: 10px;
}

.productDetail-center {
    flex: 2;
}

.productDetail-right {
    flex: 1;
}

.productDetails__img {
    width: 300px;
    margin-top: 15px;
    height: 300px;
}

.productDetails_price {
    border-bottom: 1px solid #aaabac;
}

.productDetails_price-current {
    font-size: 2.2rem;
    color: #d0021c;
    font-weight: 700;
}

.productDetails_price-old {
    font-size: 2rem;
    color: #aaabac;
    text-decoration: line-through;
    margin-left: 5px;
}

.options {
    margin-top: 10px;
}

.options .active {
    border: solid 1px red;
    border-radius: 10px;
    /* position: relative; */
    overflow: hidden;
}

.active::before {
    content: "";
    width: 15px;
    height: 10px;
    border-radius: 0 0 0.5rem 0;
    background: #D70018;
    background-image: url(http://localhost:81/BKShop/public/icon/check-solid.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.option {
    border: solid 1px #d2d6dc;
    border-radius: 10px;
    max-width: 150px;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
}

.storage {
    font-weight: bold;
}

.color {
    font-weight: bold;
    padding: 5px 0;
}

.btn-addtocart {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    color: #fff;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: 500;
}

.productDetail-right {
    margin-left: 10px;
}

.bonus {
    border: solid 1px #d1f7cb;
    border-radius: 10px;
    overflow: hidden;
}

.bonus-title {
    text-align: center;
    height: 30px;
    background-color: #d5fad2;
    color: var(--primary-color)
}

.bonus-content {
    padding: 10px;
}

.bonus-content i {
    color: var(--primary-color);
    font-size: 10px;
    margin-right: 5px;
}

.description {}

.description-title {
    font-size: 3rem;
    font-weight: 600;
    border-top: solid 5px coral;
    border-bottom: solid 5px coral;
}

.description-content {}